In [1]:
import pandas as pd
import numpy as np

In [2]:
homeless = pd.read_csv("homeless_prep.csv")

This dataset consists of data from a local homeless shelter that has gathered data on their homeless population seeking shelter.

CLIENT_KEY: This represents unique identifier of each client seeking shelter 

AGE: This is the age of the client seeking shelter 

GENDER: This is the gender of the client seeking shelter 

VETERAN: This is an indicator to indicate if the client is a veteran or not 

INCOME: This is the yearly income of the client seeking shelter 

NIGHTS: This is the number of nights the client seeking shelter has stayed at the shelter 

SUBSTANCEABUSE: This is an indicator to indicate if the client has substance abuse or not 

COMPLETED: This is an indicator to indicate if the client has completed shelters program 

PROBATION: This is an indicator to indicate if the client is on probation or not 

ASSISTANCETYPE: This is the different types of assistance offered from the shelter 

REQUIRED: This is an indicator to determin which assitance the client is requiring

In [3]:
homeless.shape

(242, 11)

In [4]:
homeless.head(5)

,CLIENT_KEY,AGE,GENDER,VETERAN,INCOME,NIGHTS,substanceabuse,completed,probation,assistancetype,required
0,256172,20,Female,No,0.0,152.0,0,0,1,tempassistance,1
1,221079,20,Female,No,740.0,229.0,0,1,0,tempassistance,1
2,243074,21,Female,No,0.0,105.0,1,1,0,tempassistance,1
3,129974,21,Female,No,0.0,371.0,1,1,0,tempassistance,1
4,226596,22,Female,No,0.0,169.0,0,0,0,tempassistance,1